.App {
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
}

.upload-section {
  margin-bottom: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.chat-messages::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message.user {
  text-align: right;
  background-color: #daf8e3;
  color: #000;
  margin-left: auto;
  border: 1px solid #ccc;
}


.message.bot {
  text-align: left;
  background-color: #f1f0f0;
  color: #000;
  margin-right: auto;
  border: 1px solid #ccc;
}

.input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}

/* Style for the file input button */
input[type="file"]::file-selector-button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #004494;
}
.upload-button{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.upload-button:hover{
  background-color: #0056b3;

}